body{
    
}
.menu{
   
position: absolute;
width: 1440px;
height: 40px;
left: 0px;
top: 0px;

background: #7C2B79; 
}
.cabecalho{
    position: absolute;
    width: 1440px;
    height: 242px;
    left: 0px;
    top: 40px;
    
    background: #7C2B79;
}
.cabecalho-img{

position: absolute;
width: 247px;
height: 303px;
left: 32px;
top: 6px;
}